.alert-box {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 100;

    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;

    background-color: var(--dark-container-color);
    padding: 8px 8px 8px 16px;
    border-radius: 12px;
    transition: all .35s ease-in-out;
}

.alert-box.reveal {
    transform: translate(-50%, 16px);
}

.alert-text {
    text-align: center;
}

.alert-close {
    cursor: pointer;
    height: 22px;
    width: 22px;
}