html, body {
    height: 100%;
    margin: 0px;
}
body {
    overflow: hidden;
    display: flex;
}

#app {
    flex: 1;
    padding: 20px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}
#app.backdrop {
    filter: brightness(0.5);
    background-color: rgba(0,0,0,0.5);
    transition: background-color 0.25s cubic-bezier(0.33, 1, 0.68, 1), filter 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

/*
 *  Message styles
 */

#messages-wrapper {
    flex: 1;
    padding: 20px;
    word-break: break-all;
    overflow: hidden scroll;
    scroll-behavior: smooth;
}
.messages-container, .message-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.message {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: .35rem;
}
.message-attachments {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.message-attachments:empty {
    display: none;
}
span.username:not(:hover) ~ span.discriminator:not(.stay-visible, :hover) {
    display: none;
}
span.discriminator, span.timestamp {
    font-style: italic;
    font-size: 0.8em;
}
span.timestamp, span.notification {
    color: #a7a9aa;
}
span.discriminator {
    color: #6b6d72;
}
span.discriminator, span.timestamp, span.username {
    white-space: nowrap;
}

/*
 *  Message box styles
 */

#message-box-wrapper {
    background-color: var(--dark-container-color);
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
}
#message-box {
    padding: 8px 12px;

    display: flex;
    align-items: center;
    gap: 12px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#message-input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;

    background-color: var(--container-color);
    border: none;
    outline: none;
}
#message-input:disabled ~ #send-button {
    cursor: not-allowed;
}

/*
 *  Chatroom sidebar styles
 */

#members-wrapper {
    overflow: hidden scroll;
    word-break: break-all;
    width: 220px;
}
.members-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.member-offline {
    opacity: 0.5;
}
