html, body {
    height: 100%;
    margin: 0px;
}
body {
    overflow: hidden;
    display: flex;
}

#app {
    flex: 1;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
#header {
    background-color: var(--container-color);
    border-radius: 8px;
    padding: 20px;
    min-height: 22px;
    flex: 1;
}

#chatroom {
    flex: 1;
    overflow: hidden;

    display: flex;
    gap: 20px;
}

.chatroom-tab {
    background-color: var(--container-color);
    border-radius: 8px;
    padding: 20px;
}

#chat {
    min-width: 440px;
    flex: 1;
    padding: 0px;

    display: flex;
    flex-direction: column;
}

/*
 *  Message styles
 */

#messages-wrapper {
    flex: 1;
    padding: 20px;
    word-break: break-all;
    overflow: hidden scroll;
    scroll-behavior: smooth;
}
.messages-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.message {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: .35rem;
}
.message span[name="discriminator"] {
    display: none;
}
.message span[name="username"]:hover ~ span[name="discriminator"] {
    display: initial;
}
span[name="timestamp"] {
    font-style: italic;
}
span[name="discriminator"], span[name="timestamp"] {
    color: #a7a9aa;
    font-size: 0.8em;
}

/*
 *  Message box styles
 */

#messagebox-wrapper {
    background-color: var(--dark-container-color);
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
}
#messagebox {
    padding: 8px 12px;

    display: flex;
    align-items: center;
    gap: 12px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#message-input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;

    background-color: var(--container-color);
    border: none;
    outline: none;
}
#message-input:disabled ~ #send-button {
    cursor: not-allowed;
}

/*
 *  Chatroom sidebar styles
 */

#members-wrapper {
    overflow: hidden scroll;
    word-break: break-all;
    width: 220px;
}
.members-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
