#attachment-box {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    padding: 8px 12px;
    border-bottom: var(--container-color) 3px dashed;
    max-height: 96px;
    overflow: hidden scroll;
}
#attachment-box:empty {
    visibility: hidden !important;
    display: none !important;
}

.attachment-spacer {
    flex: 1;
}

#attach-button, #send-button {
    height: 28px;
    cursor: pointer;
}

#attach-button.disabled {
    cursor: not-allowed;
}

#attach-button.loading {
    cursor: progress;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.attachment {
    border-radius: 10px;
    padding: 5px 6px;
    color: #b1b1b1;
    font-weight: 600;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}
.attachment.clickable {
    cursor: pointer;
}
