.chatroom-container {
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-container {
    display: flex;
    align-items: center;

    background-color: var(--container-color);
    border-radius: 16px 16px 0px 0px;
    padding: 20px;
    min-height: 22px;
}

#chat-tag {
    height: 22px;
    margin-right: 8px;
}
#chat-name {
    margin-right: 12px;
}
#chat-description {
    flex: 1;

    color: var(--secondary-text-color);
    font-size: 0.8em;
    margin-top: 0.2em;
    margin-right: 4px;
}

.chat-container {
    min-width: 355px;
    flex: 1;
    padding: 0px;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

#members-show {
    height: 22px;
    cursor: pointer;
}
