html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
}
#app {
    display: flex;
    flex-direction: column;
    gap: 8px;

    height: 100%;
    padding: 16px;
}

/* Generic styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    
    background-color: var(--container-color);
    flex: 1;
    padding: 48px 36px;
    border-radius: 16px;
}

.input-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;

    padding: 2px 8px 8px 8px;
    border-radius: 12px;
    border: 1px solid var(--input-border-color);
}

#username, #public-key, #private-key {
    padding: 6px;
    border-radius: 8px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    outline: none;
}
#private-key {
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}
#private-key:not(:focus) {
    color: transparent;
    text-shadow: 0px 0px 8px var(--text-color);
}

legend.required::after {
    content: ' *';
    color: var(--warning-color);
}

#restore-key-pair.highlight:not(:hover) {
    border-color: var(--secondary-color);
}
#generate-key-pair.highlight:not(:hover) {
    border-color: var(--secondary-color);
}

#public-key, #private-key {
    border-radius: 8px;
    resize: none;
}

#error-message {
    margin: 0px 0px 10px;
    font-size: 12px;
    text-align: center;
    color: var(--warning-color);
}
#error-message:empty {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5ch;

    font-size: 30px;
    margin: 0px;
}

#submit {
    align-self: center;

    margin: 12px 0px 0px;
    width: fit-content;
}

/* Desktop design */
@media screen and (min-width: 1024px) {
    .container {
        margin: auto;
        min-width: 260px;
        border-radius: 24px;
        flex: none;
    }
}