html, body {
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin: auto;
    padding: 48px 36px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    min-width: 260px;
    border-radius: 8px;
    background-color: var(--container-color);
    box-shadow: rgb(0 0 0 / 25%) -1px 1px 14px 1px;
}

.input-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;

    padding: 2px 8px 8px 8px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

#username, #public-key, #private-key {
    padding: 6px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}
#username:invalid, #public-key:invalid, #private-key:invalid {
    border-color: #d93025;
    border-style: dashed;
}
legend.required::after {
    content: ' *';
    color: #d93025;
}

#public-key, #private-key {
    border-radius: 8px;
    resize: none;
}

#error-message {
    margin: 0px 0px 10px;
    font-size: 12px;
    text-align: center;
    color: #d93025;
}
#error-message:empty {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5ch;

    font-size: 30px;
    margin: 0px;
}

#submit {
    align-self: center;

    margin: 12px 0px 0px;
    width: fit-content;
}
