@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');
@import url('https://butterycode.com/static/css/simple.css');

:root {
    --test-color: #f2f2f2;
    --background-color: #2c2f33;
    --light-container-color: #3e4247;
    --container-color: #24272b;
    --dark-container-color: #191c1f;
    --button-blue: #2885ff;
    --button-darker-blue: #1178ff;
}

body {
    background-color: var(--background-color);
    color: var(--test-color);
}
body, input, button {
    font-family: 'Noto Sans', sans-serif;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: hsla(0,0%,100%,.2);
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 4px;
}

/* Input styles */
input[type=text], input[type=password] {
    background-color: rgba(0, 0, 0, 0.35);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: var(--test-color);
}
input:disabled {
    cursor: not-allowed;
}
button {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 8px 24px;
    color: var(--test-color);
    border-radius: 8px;
    transition: background-color 0.15s ease;
    background-color: var(--button-blue);
}
button:hover {
    background-color: var(--button-darker-blue);
}
