#navbar {
    background-color: var(--dark-container-color);
    width: 220px;
    border-radius: 16px;
    padding: 16px;
    overflow: hidden auto;
    transition: 0.3s width;

    display: flex;
    flex-direction: column;
}

.navbar-spacer {
    min-height: 8px;
    flex: 1;
    border-bottom: 1px solid rgba(155, 155, 155, 0.1);
    margin: 4px 0px;
}

#navbar.open {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    animation: slideOut 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes slideOut {
    0% {
        transform: translateX(-100%);
    }
}

#navbar-channels {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3px;
    
    padding: 0px 0px 4px 0px;
}

#navbar-bars {
    display: none;
}
#navbar-bars > img {
    height: 16px;
    width: 16px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-channel {
    padding: 8px 12px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    border-radius: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.navbar-channel.active, .navbar-channel:hover {
    background-color: rgba(38, 39, 45, 0.3);
}
.navbar-channel:active {
    background-color: rgba(38, 39, 45, 0.6);
}

#navbar-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 4px 0px 0px 0px;
    gap: 3px;
}
.navbar-control {
    padding: 8px 12px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    border-radius: 16px;
    gap: 8px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navbar-control:hover {
    background-color: rgba(38, 39, 45, 0.3);
}
.navbar-control:active {
    background-color: rgba(38, 39, 45, 0.6);
}

#join-room-modal.open {
    display: flex;
    flex-direction: column;
    gap: 26px;

    background-color: var(--dark-container-color);
    box-shadow: rgb(0 0 0 / 25%) -1px 1px 14px 1px;
    padding: 48px 36px;
    border: 1px solid rgba(127, 127, 127, 0.2);
    border-radius: 8px;
}
#join-room-header {
    font-size: 26px;
    margin: 0px;
    text-align: center;
}
.join-room-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}
#join-room-input {
    padding: 1px 4px;
    border-radius: 8px;
}
#join-room-input:invalid {
    border-color: var(--warning-color);
    border-style: dashed;
}
#join-room-button {
    height: 28px;
    cursor: pointer;
}

.nav-tag {
    cursor: pointer;
    height: 16px;
    width: 16px;
}
.nav-control-text {
    flex: 1;
    color: var(--secondary-text-color);
    word-break: break-all;
    font-size: 14px;
}

.room-name {
    flex: 1;
    font-weight: 600;
    word-break: break-all;
}

.room-close {
    filter: saturate(0);
    transition: filter 0.1s ease-in-out;
    cursor: pointer;
    height: 22px;

}
.room-close:hover {
    filter: none;
}

.navbar-wrapper {
    display: flex;

    position: relative;
}
#navbar-bars {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 0px;

    background-color: var(--container-color);
    padding: 8px;
    border-radius: 33px;
    cursor: pointer;
}

#navbar:not(.expand) {
    width: fit-content;
    min-width: 32px;
}
#navbar:not(.expand) .room-name, #navbar:not(.expand) .room-close, #navbar:not(.expand) .nav-control-text {
    display: none;
}
#navbar:not(.expand) .navbar-channel, #navbar:not(.expand) .navbar-control {
    padding: 8px;
}
#navbar.expand ~ #navbar-bars > img {
    transform: rotate(-180deg);
}
