#navbar {
    background-color: var(--dark-container-color);
    width: 220px;
    z-index: 10;
    border-right: 1px solid rgba(155, 155, 155, 0.1);

    display: flex;
    flex-direction: column;
}

.navbar-spacer {
    min-height: 8px;
    flex: 1;
    border-top: 1px solid rgba(155, 155, 155, 0.1);
    border-bottom: 1px solid rgba(155, 155, 155, 0.1);
    margin: 4px 8px;
}

#navbar.open {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    animation: slideOut 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes slideOut {
    0% {
        transform: translateX(-100%);
    }
}

#navbar-channels {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3px;
    
    padding: 8px 8px 4px 0px;
    overflow: hidden auto;
}

#navbar-bars {
    display: none;
    margin-right: 20px;
}

@media screen and (max-width: 980px) {
    #navbar:not(.open) {
        display: none;
    }
    #navbar-bars {
        display: inline-block;
    }
}


.navbar-channel {
    padding: 8px 12px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    border-radius: 0px 16px 16px 0px;
    gap: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-channel.active, .navbar-channel:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
.navbar-channel:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 4px 8px 8px 0px;
    overflow: hidden auto;
    gap: 3px;
}
.navbar-control {
    padding: 8px 12px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    border-radius: 0px 16px 16px 0px;
    gap: 8px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navbar-control:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
.navbar-control:active {
    background-color: rgba(0, 0, 0, 0.2);
}

#join-room-modal.open {
    display: flex;
    flex-direction: column;
    gap: 26px;

    background-color: var(--dark-container-color);
    box-shadow: rgb(0 0 0 / 25%) -1px 1px 14px 1px;
    padding: 48px 36px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
#join-room-header {
    font-size: 26px;
    margin: 0px;
    text-align: center;
}
.join-room-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}
#join-room-input {
    padding: 1px 4px;
    border-radius: 8px;
}
#join-room-input:invalid {
    border-color: var(--warning-color);
    border-style: dashed;
}
#join-room-button {
    height: 28px;
    cursor: pointer;
}

.nav-tag {
    cursor: pointer;
    height: 16px;
    width: 16px;
}
.nav-control-text {
    flex: 1;
    color: var(--secondary-text-color);
    word-break: break-all;
    font-size: 14px;
}

.room-name {
    flex: 1;
    font-weight: 600;
    word-break: break-all;
}

.room-close {
    filter: saturate(0);
    transition: filter 0.1s ease-in-out;
    cursor: pointer;
    height: 22px;

}
.room-close:hover {
    filter: none;
}