body {
    overflow: hidden;
    display: flex;
}

.app-container {
    flex: 1;
    padding: 20px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

/*
 *  Message styles
 */

#messages-wrapper {
    flex: 1;
    padding: 20px;
    word-break: break-all;
    overflow: hidden scroll;
    scroll-behavior: smooth;
    background-color: var(--container-color);
    
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.message-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.message {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: .35rem;
}
.message-attachments {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.message-attachments:empty {
    display: none;
}
span.timestamp {
    font-style: italic;
    font-size: 0.8em;
}
span.timestamp, span.notification {
    color: #a7a9aa;
}
span.timestamp, span.username {
    white-space: nowrap;
}
span.username {
    cursor: pointer;
}
span.username:hover {
    text-decoration: underline;
}

span.username.offline {
    opacity: 0.5;
}

/*
 *  Message box styles
 */

.message-box-wrapper {
    background-color: var(--dark-container-color);
    border-radius: 0px 0px 16px 16px;
    
    display: flex;
    flex-direction: column;
}
#message-box {
    padding: 8px 12px;

    display: flex;
    align-items: center;
    gap: 12px;
}

#message-input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;

    background-color: var(--container-color);
    border: none;
    outline: none;
}
#message-input:disabled ~ #send-button {
    cursor: not-allowed;
}

/*
 *  Members sidebar styles
 */

#members-wrapper {
    background-color: var(--container-color);
    overflow: hidden auto;
    word-break: break-all;
    border-radius: 16px;
    padding: 20px;
    width: 220px;
    
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* @media screen and (max-width: calc(372px + 100px + 220px)) {
    #members-wrapper {
        display: none;
    }
    #members-show {
        display: none;
    }
} */
