@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');
@import url('https://debutter.dev/x/css/simple.css');

:root {
    --text-color: #ffffff;
    --secondary-text-color: #d1d2db;
    --background-color: #070709;
    --container-color: #18181c;
    --dark-container-color: #0f0f11;
    --tippy-color: #212125;
    --primary-color: #5841f7;
    --secondary-color: #f74185;
    --warning-color: #d93025;
}

html, body {
    height: 100vh;
    margin: 0px;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: var(--primary-color);
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}

/* Tippy styles; NOTE: This is not the correct way to do this but it works */
.tippy-box {
    background-color: var(--tippy-color);
}
.tippy-arrow {
    color: var(--tippy-color);
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: hsla(0,0%,100%,.2);
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 4px;
}

/* Input styles */
input[type="text"], input[type="password"], input[type="email"], textarea {
    background-color: rgba(0, 0, 0, 0.35);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: var(--text-color);
}
input:disabled {
    cursor: not-allowed;
}
button, a.button {
    cursor: pointer;
    border: 2px solid #545559;
    padding: 8px 24px;
    background-color: rgba(32, 32, 36, 0.5);
    color: var(--text-color);
    border-radius: 33px;
    transition: transform 0.1s ease, border-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
button:hover, a.button:hover {
    border-color: var(--primary-color);
}
button:active, a.button:active {
    transform: scale(0.95);
}
button:disabled, a.button:disabled {
    border-color: #545559;
    opacity: 0.5;
    transform: none;
    cursor: not-allowed;
}
a.button {
    text-decoration: none;
}
